.background {
  background-image: url('../public/assets/WhatsApp Image 2023-05-18 at 15.52.13 (1).jpeg');
  background-repeat: no-repeat;
  background-size: 148mm 210mm; /* A5 size */
  height: 100%; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set other styles for the form */
}
.textfieldname {
  position: fixed;
  top: -205px;
  left: -200px;
}

.textfieldage {
  position: fixed;
  top: -165px;
  left: -200px;
}

.textboxname {
  position: absolute;
  padding: 0px;
  border: none;
  border-bottom: 1.5px dotted #000;
  outline: none;
}
.textboxage {
  position: absolute;
  width: 140%;
  padding: 0px;
  border: none;
  border-bottom: 1.5px dotted #000;
  outline: none;
}
