.background {
  background-image: url('../public/assets/WhatsApp Image 2023-05-18 at 15.52.13 (1).jpeg');
  background-repeat: no-repeat;
  background-size: 8.268in 11.693in; /* A4 size */
  height: 100%; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
}

.textfieldname {
  position: fixed;
  top: 215px;
  left: 20px;
}

.textfieldage {
  position: fixed;
  left: 20px;
  top: 265px;
}

.textboxname {
  padding: 0px;
  border: none;
  border-bottom: 2px dotted #000;
  outline: none;
}
.textboxage {
  padding: 0px;
  width: 2%;
  border: none;
  border-bottom: 2px dotted #000;
  outline: none;
}
