@import url('../assets/Roboto-Regular.ttf');

* {
  font-family: 'Roboto', sans-serif;
}
body {
  transition: all 0.3s ease;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: red;
  margin: 50px;
}
.prescription_form {
  background: white;
}
.prescription {
  width: 100%;
  margin: 0 auto;
  border: 1px solid lightgrey;
}
.prescription tr > td {
  padding: 15px;
}
.header {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo {
  flex: 0;
} */
.logo img {
  width: 140px;
  height: 140px;
  float: left;
}
.credentials {
  flex: 1;
}
.credentials h4 {
  line-height: 1.15em;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.credentials p {
  line-height: 1.1em;
  margin: 0 0 0px 0;
  padding: 1px 0px;
}
.credentials small {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  padding-right: 80px;
}
.d-header {
  width: 100%;
  text-align: center;
  background: mediumseagreen;
  padding: 5px;
  color: white;
  font-weight: 800;
}
.borderth {
  border-style: solid;
  border-width: medium;
}
.container2 {
  position: relative;
  display: inline-block;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  opacity: 0.35; /* Adjust the opacity as per your preference */
}
.textboxclass {
  width: 80px;
}
