@import url("../assets/Roboto-Regular.ttf");

* {
  font-family: "Roboto", sans-serif;
}
body {
  transition: all 0.3s ease;
}
#billForm {
  position: absolute;
  z-index: 1;
}

.prescription_form {
  background: white;
}

.prescription {
  width: 100%;
  margin: 0 auto;
  border: 1px solid lightgrey;
}

.prescription tr > td {
  padding: 15px;
}

.header {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo {
  flex: 0;
} */
.logo img {
  width: 140px;
  height: 140px;
  float: left;
}
.credentials {
  flex: 1;
}
.credentials h4 {
  line-height: 1.15em;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.credentials p {
  line-height: 1.1em;
  margin: 0 0 0px 0;
  padding: 1px 1px;
}
h1.small {
  line-height: 0.8;
}
p.small {
  line-height: 0.5;
}

.credentials small {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  padding-right: 80px;
}
.d-header {
  width: 100%;
  text-align: center;
  background: mediumseagreen;
  padding: 5px;
  color: white;
  font-weight: 800;
}
.borderth {
  border-style: solid;
  border-width: medium;
}
.container2 {
  position: relative;
  display: inline-block;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  opacity: 0.2; /* Adjust the opacity as per your preference */
  z-index: 0;
}
.textboxclass {
  width: 250px;
}
.textboxm {
  width: 80px;
}
.textboxf {
  width: 90px;
}
.text_box_initials {
  width: 120px;
}
/* .textboxclassprice {
  width: 1000px;
  height: 1px;
} */

.textboxclasstime {
  width: 150px;
}
.textboxclasspn {
  width: 190px;
}
.textboxclassDno {
  width: 140px;
}
.textboxclassage {
  width: 100px;
}
.textboxadd {
  width: 1050px;
}
.no-arrow::-webkit-inner-spin-button {
  display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
